# MariaDB
MYSQL_DATABASE=crystalserver
MYSQL_USER=crystalserver
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_me_root
MYSQL_PORT=3306
MYSQL_HOST=database
MYSQL_DBNAME=crystalserver
MYSQL_PASS=change_me
OT_DB_HOST=database
OT_DB_PORT=3306
SHARED_NETWORK_NAME=crystalserver-network
DB_VOLUME_NAME=crystalserver-db
SERVER_DATA_VOLUME_NAME=crystalserver-server-data
MYAAC_VOLUME_NAME=crystalserver-myaac

# Crystal Server network
SERVER_IP=auto
SERVER_NAME=crystalserver
SERVER_LOCATION=BRA
statusProtocolPort=7171
gameProtocolPort=7172
MYAAC_HTTP_PORT=80
MYAAC_REF=
MYAAC_VERSION=1.8.5
MYAAC_INSTALL_ALLOWED_IPS=

# Optional runtime flags
OT_SERVER_DATA=data-global
OT_SERVER_TEST_ACCOUNTS=false
